@{
    ViewData["Title"] = "Página inicial";
}
<div class="row align-items-center min-height-custom">
    <div class="bg-custom d-none d-sm-flex d-md-flex col-sm-2 col-md-3 bg-white h-inherit">
    </div>
    <div class="col-sm-10 col-md-9">
        <div class="row">
            <div class="col">
                <h1 class="display-1 text-purple fw-bold">Bem vindo!</h1>
            </div>
        </div>
        <div class="row my-4">
            <div class="col-10 col-sm-8 col-md-8">
                <p class="fw-normal fs-5">
                    O aplicativo BuscadorCEP! permite que você encontre códigos de endereçamento
                    postais (CEP).
                </p>
                <p class="fw-normal fs-5">
                    Se você já tiver o CEP em mãos e gostaria de buscar seu endereço, o BuscadorCEP!
                    também vai te ajudar.
                </p>
                <p class="fw-normal fs-5">
                    Aproveite!
                </p>
            </div>
        </div>
        <div class="row col-10 mb-5">
            <div class="my-2 col-sm-4 col-md-4 d-grid gap-2">
                <a class="btn btn-lg btn-purple fw-light fs-4" asp-area="" asp-controller="Address"
                    asp-action="SearchAddress">Buscar endereço</a>
            </div>
            <div class="my-2 col-sm-4 col-md-4 d-grid gap-2">
                <a class="btn  btn-lg btn-purple fw-light fs-4" asp-area="" asp-controller="Address"
                    asp-action="SearchZipCode">Buscar cep</a>
            </div>
        </div>
    </div>
</div>
</div>