@{
    ViewData["Title"] = "Página inicial";
}
<div class="container h-100">
    <div class="row justify-content-center">
        <div class="col-md-9">
            <div class="mt-auto px-5 mb-5">
                <h1 class="display-6 fw-bold mb-5">Bem vindo ao BuscadorCEP! da e-frete</h1>
            </div>
            <div class="mb-auto fw-bold">
                <p>O aplicativo BuscadorCEP! permite que você encontre códigos de endereçamento postais (CEP).</p>
                <p>Se você já tiver o CEP em mãos e gostaria de buscar seu endereço, o BuscadorCEP! também vai te ajudar.</p>
                <p>Aproveite!</p>
            </div>
        </div>
    </div>
</div>