@model AddressViewModel
@{
    ViewData["Title"] = "Resultado busca por cep";
}

<h1>@ViewData["Title"]</h1>
    @if(Model is not null)
    {
        @Model.CityName
    }
    else
    {
       <span>Deu ruim, dado não encontrado</span> 
    }
<div>
    
</div>