@model AddressViewModel

@{
    ViewData["Title"] = "Buscar endereço";
}
<div class="container min-height-custom">
    <div class="row h-inherit">
        <div class="col-12 align-self-center">
            <span class="fs-5 fw-light">
                <a class="link-purple" asp-area="" asp-controller="Home" asp-action="Index">
                    Início >
                </a>
                Buscar endereço
                @if(ViewBag.ZipCode is not null)
                {
                    <span>> @ViewBag.ZipCode</span>
                }
            </span>
            <vc:summary/>
        </div>
        <div class="col-12 my-5">
            <div class="col-10 col-sm-8 col-md-8 col-lg-5 col-xl-4">
                <form method="post">
                    <div class="col-12 col-sm-9 col-md-10">
                        <h4>Digite o CEP para encontrar o endereço desejado.</h4>
                    </div>
                    <input class="form-control form-control-lg mt-3 text-muted" maxlength="8" type="number" asp-for="ZipCode"
                        placeholder="Digite aqui..." />
                    <div class="text-danger text-lowercase mt-2">
                        <span asp-validation-for="ZipCode"></span>
                    </div>
                    <div class="mt-4">
                        <div class="row">
                            <div class="col-6 d-grid gap-2 pe-2">
                                <a class="btn btn-lg btn-light text-muted fs-5" asp-area="" asp-controller="Home"
                                    asp-action="Index">
                                    Voltar
                                </a>
                            </div>
                            <div class="col-6 d-grid gap-2 ps-2">
                                <input class="btn btn-lg btn-purple fs-5" value="Buscar" type="submit" />
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>
        <div class="col-12"></div>
        <div class="col-12"></div>
        <div class="col-12"></div>
        <div class="col-12"></div>
    </div>
</div>

@section Scripts{
@{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
<script>
    $("#ZipCode").mask("99999999")
</script>
}