@model AddressViewModel

@{
    ViewData["Title"] = "Buscar cep";
}
<div class="container min-height-custom">
    <div class="row h-inherit">
        <div class="col-12 align-self-center">
            <span class="fs-5 fw-light">
                <a class="link-purple" asp-area="" asp-controller="Home" asp-action="Index">
                    Início >
                </a>
                Buscar cep
            </span>
            <vc:summarynotifications />
        </div>
        <div class="col-12 my-5">
            <div class="col-10 col-sm-8 col-md-8 col-lg-5 col-xl-4">
                <form method="post">
                    <div class="col-12 col-sm-9 col-md-10">
                        <h4>Digite o endereço para encontrar o CEP desejado.</h4>
                    </div>
                    <label asp-for="Uf" class="form-label mt-1 text-muted">Estado</label>
                    <select asp-for="Uf" class="form-control form-control-lg text-muted" asp-items="@(ViewBag.Ufs)"
                        placeholder="Selecione um estado">
                        <option value="">Selecione um estado</option>
                    </select>
                    <div class="text-danger text-lowercase mt-2">
                        <span asp-validation-for="Uf"></span>
                    </div>

                    <div class="has-feedback">
                        <label asp-for="CityName" class="form-label mt-3 text-muted">Munícipio</label>
                        <input id="City" name="City" type="text" class="form-control form-control-lg text-muted"
                            autocomplete="off" placeholder="Digite aqui o nome da sua cidade...">
                        <div id="loadingCity" class="autocomplete-feedback form-control-feedback"
                            style="display: none;">
                            <svg class="_loading_svg" viewBox="0 0 46 46">
                                <circle class="_loading_svg_circle" cx="23" cy="23" r="20" fill="none"></circle>
                            </svg>
                        </div>
                        <input type="hidden" asp-for="CityName">
                        <div class="text-danger text-lowercase mt-2">
                            <span asp-validation-for="CityName"></span>
                        </div>
                    </div>


                    <div class="has-feedback">
                        <label asp-for="StreetName" class="form-label mt-3 text-muted">Logradouro</label>
                        <input id="Street" name="Street" type="text" class="form-control form-control-lg text-muted"
                            autocomplete="off" placeholder="Digite aqui o nome do seu logradouro...">
                        <div id="loadingStreet" class="autocomplete-feedback form-control-feedback"
                            style="display: none;">
                            <svg class="_loading_svg" viewBox="0 0 46 46">
                                <circle class="_loading_svg_circle" cx="23" cy="23" r="20" fill="none"></circle>
                            </svg>
                        </div>
                        <input type="hidden" asp-for="StreetName">
                        <div class="text-danger text-lowercase mt-2">
                            <span asp-validation-for="StreetName"></span>
                        </div>
                    </div>

                    <div class="mt-4">
                        <div class="row">
                            <div class="col-6 d-grid gap-2 pe-2">
                                <a class="btn btn-lg btn-light text-muted fs-5" asp-area="" asp-controller="Home"
                                    asp-action="Index">
                                    Voltar
                                </a>
                            </div>
                            <div class="col-6 d-grid gap-2 ps-2">
                                <input class="btn btn-lg btn-purple fs-5" value="Buscar" type="submit" />
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>
        <div class="col-12"></div>
        <div class="col-12"></div>
        <div class="col-12"></div>
    </div>
</div>

@section Scripts{
@{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
<script>

</script>
}
