@{
    ViewData["Title"] = "Buscar endereço";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-9 mt-5">
            <form>
                <div class="col-md-6">
                    <label for="zipcode">Informe cep</label>
                    <input type="text" class="form-control" id="zipcode" placeholder="48110-000">
                </div>
                <div class="col-md-6">
                    <input class="btn btn-primary rounded rounded-3" type="submit" />
                </div>
            </form>
        </div>
    </div>
</div>
