:root{
  --tam-fix: 60px;
  --purple:rgb(130, 10, 209);
  --purple-hover: rgb(86, 8, 138);;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: 'Roboto', sans-serif;
}
.navbar-toggler:focus{
  box-shadow: 0 0 0 0.25rem #FFFFFF;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

.btn-purple {
  color: #fff;
  background-color: var(--purple);
  border-color: var(--purple);
}
.btn-purple:hover{
  color: #fff;
  background-color: var(--purple-hover);
  border-color: var(--purple-hover);
}

.bg-purple{
  background-color:var(--purple);
}

.link-purple{
  font-weight: 400;
  color: var(--purple);
  text-decoration: none;
}

input::placeholder{
  font-size: medium;
}

.form-control:focus {
  color: #212529;
  background-color: #fff;
  border: 2px solid var(--purple);
  outline: 0;
  box-shadow: 0 0 0 0;
  caret-color:var(--purple);
}

.link-purple:hover{
  color: var(--purple-hover);
}

.text-purple{
  color: var(--purple);
}

.h-inherit
{
  min-height: inherit;
}
.min-height-custom {
  min-height: calc(100vh - var(--tam-fix) * 2);;
}
.min-fixHeight{
  min-height: var(--tam-fix) !important;
}